<div class="card-category" style="background-image: url('<%= cl_image_path @property.photo.key, height: 400, crop: :fill %>')">

</div>
<div class="container">
  <div class="row">
    <div class="col-8">
      <p>
        <strong>Name:</strong>
        <%= @property.name %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @property.price %>
      </p>

      <p>
        <strong>Address:</strong>
        <%= @property.address %>
      </p>

      <p>
        <strong>Price:</strong>
        <%= @property.price %>
      </p>

      <p>
        <strong>Rooms:</strong>
        <%= @property.rooms %>
      </p>

      <p>
        <strong>Bathrooms:</strong>
        <%= @property.bathrooms %>
      </p>
    </div>
    <div class="col-4">
      <%= render "properties/agent_details" %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_property_path(@property) %> |

